<form class="layui-form" action="{:url('category/addcategory')}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$category.name}" required  lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="__static__/layui.js"></script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
              //监听提交
        form.on('submit(formDemo)', function(data){
            console.log(data.field.name);
            $.post("addCategory", { name: data.field.name, parent: data.field.parent },function(result){
//                     console.log(result);
//                     console.log(result.code);

                      if(result.code){
                        layer.alert("增加成功", {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                      }else{
                          layer.alert(result.msg)
                      }
            });
            return false;
        });
    });
</script>