<div class="x-body">
<!--    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>-->
    <xblock>
<!--        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick="x_admin_show('添加用户', '{:url(\'admin/info\')}')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                </th>
                <th>ID</th>
                <th>登录名</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>角色</th>
                <th>加入时间</th>
                <th>状态</th>
                <th>操作</th>
        </thead>
        <tbody>
            {volist name='list' id='user'}
            <tr>
                <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{$user.user_id}</td>
                <td>{$user.user_name}</td>
                <td>{$user.phone}</td>
                <td>{$user.email}</td>
                <td>超级管理员</td>
                <td>{$user.created_at}</td>
                <td class="td-status">
                    {if condition="$user['status'] == 1"}
                    <span class="layui-btn layui-btn-normal layui-btn-mini" 
                          onclick="member_stop(this)" tag="{$user['user_id']}">已启用</span></td>
                    {else /}
                    <span class="layui-btn layui-btn-danger" onclick="member_stop(this)" tag="{$user['user_id']}">已停用</span></td>
                    {/if}
        <td class="td-manage">

            <a title="编辑"  onclick="x_admin_show('编辑', '{:url(\'admin/info\',array(\'user_id\'=>$user[\'user_id\']))}')" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
            </a>
            
            
            <a title="删除" onclick="member_del(this)"  tag="{$user['user_id']}" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
            </a>
        </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">
        <div>
{$page}
        </div>
    </div>

</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj) {
        layer.confirm('确认要修改状态吗？', function (index) {
            var user_id = $(obj).attr("tag");

            if ($(obj).html() == '已启用') {
                $.post("status", {user_id: user_id, status: 0}, function (data) {
                    //发异步把用户状态进行更改
                    if (data.code) {
                        $(obj).removeClass();
                        $(obj).addClass("layui-btn layui-btn-danger");

                        $(obj).html('已停用');
                        layer.msg('已停用!', {icon: 5, time: 1000});
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                });
            } else {
                $.post("status", {user_id: user_id, status: 1}, function (data) {
                    //发异步把用户状态进行更改
                    if (data.code) {
                        $(obj).removeClass();
                        $(obj).addClass("layui-btn layui-btn-normal layui-btn-mini");

                        $(obj).html('已启用');
                        layer.msg('已启用!', {icon: 5, time: 1000});
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                });
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            var user_id = $(obj).attr("tag")
            //发异步删除数据
            $.post("del", { user_id :user_id },function(data){
                if(data.code){
                  $(obj).parents("tr").remove();
                   layer.msg('已删除!', {icon: 1, time: 1000});
                }else{
                    layer.alert(data.msg)
                }

            });
        });
    }



    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
<script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>