
<div class="x-body">
    <!--    <div class="layui-row">
            <form class="layui-form layui-col-md12 x-so">
                <input class="layui-input" placeholder="开始日" name="start" id="start">
                <input class="layui-input" placeholder="截止日" name="end" id="end">
                <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </form>
        </div>-->
    <xblock>
        <!--        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick="x_admin_show('添加用户', '{:url(\'admin/roleInfo\')}')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                </th>
                <th>ID</th>
                <th>角色名</th>
                <th>拥有权限规则</th>
                <th>描述</th>
                <th>状态</th>
                <th>操作</th>
        </thead>
        <tbody>
            {volist name='list' id='role'}
            <tr>
                <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{$role.id}</td>
                <td>{$role.role_name}</td>
                <td>会员列表，问题列表</td>
                <td>{$role.description}</td>
                <td class="td-status">
                    {if condition="$role['status'] == 1"}
                    <span class="layui-btn layui-btn-normal layui-btn-mini" 
                          onclick="member_stop(this)" tag="{$role['id']}">已启用</span>
                    {else /}
                    <span class="layui-btn layui-btn-danger" onclick="member_stop(this)" tag="{$role['id']}">已停用</span>
                    {/if}
                </td>
                <td class="td-manage">
                    {if condition="$role['id'] != 1"}
                    <a title="编辑"  onclick="x_admin_show('编辑', '{:url(\'admin/roleInfo\',array(\'id\'=>$role[\'id\']))}')" href="javascript:;">
                        <i class="layui-icon">&#xe642;</i>
                    </a>

                    <a title="删除" onclick="member_del(this)"  tag="{$role['id']}" href="javascript:;">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                    {/if}
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>

    <div class="page">
        <div>
            {$page}
        </div>
    </div>
</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj) {
        if ($(obj).attr("tag") == 1) {
            layer.msg('超级管理员不可修改状态', {icon: 5, time: 1000});
            return false;
        }

        layer.confirm('确认要修改状态吗？', function (index) {
            var id = $(obj).attr("tag");

            if ($(obj).html() == '已启用') {
                $.post("statusRole", {id: id, status: 0}, function (data) {
                    //发异步把用户状态进行更改
                    if (data.code) {
                        $(obj).removeClass();
                        $(obj).addClass("layui-btn layui-btn-danger");

                        $(obj).html('已停用');
                        layer.msg('已停用!', {icon: 5, time: 1000});
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                });
            } else {
                $.post("statusRole", {id: id, status: 1}, function (data) {
                    //发异步把用户状态进行更改
                    if (data.code) {
                        $(obj).removeClass();
                        $(obj).addClass("layui-btn layui-btn-normal layui-btn-mini");

                        $(obj).html('已启用');
                        layer.msg('已启用!', {icon: 5, time: 1000});
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                });
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            var id = $(obj).attr("tag")
            //发异步删除数据
            $.post("delRole", {id: id}, function (data) {
                if (data.code) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                } else {
                    layer.alert(data.msg)
                }

            });
        });
    }



    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
<script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>